#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
                          
    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      display: flex;
      align-items: center;
    
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title{
      background-color: $subMenuBg !important;
      &:hover {
        background-color: $menuHover !important;
      }
    }
    & .nest-menu .list-box .el-menu-item .svg-icon{
      position: relative;
      left: -9px;
    }
    & .el-submenu .el-menu-item {
      // min-width: $sideBarWidth !important;
      width: calc(100% - 16px);
      background-color: $subMenuBg !important;
      height: 36px !important;
      border-radius: 8px;
      display: flex;
      align-items: center;
      text-indent: -8px ;
      position: relative;
      left: 8px;
      top: 5px;
      color: rgba(255, 255, 255, 0.55)!important;
      &:hover {
        background-color: $subMenuHover !important;
        color: rgba(255, 255, 255, 0.9)
      }
    }
    .el-menu-item.is-active{
      background-color: #0052d9 !important;
      color: rgba(255, 255, 255, 1) !important;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 49px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .client {
    .main-container {
      // min-width: 1560px;
    }

    .sidebar-container {
      transition: width 0.28s;
      width: 100% !important;
      // min-width: 1560px;
      background-color: none;
      height: 50px;
      position: fixed;
      font-size: 0px;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1001;
      overflow: hidden;
    }

    .main-container {
      margin-left: 0;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: #fff !important;
      }
    }

    .el-menu--horizontal>.el-menu-item.is-active {
      border-bottom: none;
    }

    .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
      border-bottom: none;
    }

    .el-menu--horizontal .el-submenu .el-submenu__icon-arrow {
      position: static;
      vertical-align: middle;
      margin-left: 8px;
      margin-top: -3px;
    }

    .el-menu-item,
    .el-submenu .el-submenu__title {
      height: 46px;
      line-height: 46px;
    }

    .el-menu-item.is-active>.el-submenu__title {
      color: #303133 !important;
    }

    .el-submenu.is-active>.el-submenu__title {
      color: #303133 !important;
    }

    .el-menu--horizontal .el-menu .el-submenu__title {
      color: #303133 !important;
    }

    .el-menu-item.is-active {
      color: #303133 !important;
    }

    /* .el-menu .el-menu-item,
        .el-menu .el-submenu__title {
            color: #303133 !important
        } */

    /* .el-menu-item.is-active {
            color: #303133 !important
        } */

    .top-home {
      position: relative;
      float: left;

    }

    .top-home .el-menu-item:hover {
      background: #fff;
    }

    .top-home .el-menu-item i {
      margin-right: 0;
      margin-top: 6px;
      vertical-align: top;
      width: 36px;
      height: 36px;
      line-height: 34px;
      border-radius: 50%;
      background: #409EFF;
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }
  .nest-menu .el-submenu{
    background-color: $subMenuBg !important;
  }
  &>.el-menu--popup {
    overflow-y: hidden !important;
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    background-color: $subMenuBg !important;
    width: 200px;
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}